{exp:weblog:entries  weblog="courses" show_expired="no" show_future_entries="yes"}
{embed="includes/.header" section="Courses" pagename="{title}"}
	<div id="left-internal">

		<h2>{title}</h2>
		{if course_ref != ""}
		<div id="summary">
			<strong>Course Ref:</strong> {course_ref}
&nbsp;&nbsp;Course Subject:{categories backspace="7"}
				<a href="/courses/category/{category_url_title}" rel="tag">{category_name}</a>,&nbsp;
			{/categories}	
<a href="{entry_id_path=/forms/register/}"><img src="/images/content/register_button.png" alt="Register for this course" class="register-button" /></a>
		</div>
		{/if}
		<div id="other-dates">
			<h3>Dates for this course</h3>
			<?php
			$count = 0;
			// Get the list of dates
			$dates = "{include_dates}";
			// Explode the dates based on a new line
			$pieces = explode("\n", $dates);
			// Start loop to work through each date
			foreach ($pieces as $value) { 
					// Split start and end dates
					$splitDate = explode(" -- ", $value);
					// Set count to zero so if there are no dates we can tell user
					// If the date is after today show it
					$date1 = strtotime($splitDate[0]);
					if ($date1 > time()) {
						$date1 = date("d/m/y", $date1);
						$date2 = strtotime($splitDate[1]);
						$date2 = date("d/m/y", $date2);
						echo '<p>';
						echo $date1;
						echo " - ";
						echo $date2;
						echo '</p>';
						// Update count
						$count++;
					}					
			}
			// No records so tell user
			if ($count == 0){
				echo "<p>Sorry there are no dates available for this course.</p>";
			}
			?>
		</div>
		<div id="course-details">
			{course_details}
		</div>
		{/exp:weblog:entries}
	</div>
	<div id="right-internal">
		{embed="includes/.nav" section="Courses"}	
		{embed="includes/.other_courses"}
		{embed="includes/.quotes"}					
	</div>
{embed="includes/.footer"}
